{% extends "base_generic.html" %}


{% block content %}
<h1>Program Of Study Homepage</h1>

  <p class="lead">Welcome to <em>The Program of Study Website</em>,
  an easy way to submit Program of Study forms for ECE Graduate Students.</p>


<h2>Instructions</h2>

<h4>Students</h4>
<p class="lead">Please use the sidebar buttons to submit a Program of Study form,
  view previously submitted forms, or check the status of submitted forms.</p>


<h4>Advisors & DGS</h4>
<p class="lead">Please use the sidebar buttons to view students' submitted forms,
  reject or approve forms, or check the status of previously approved or rejected forms.</p>



{% endblock %}
