{% extends "base_generic.html" %}

{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{% bootstrap_messages %}



{% block content %}

{{form.media}}


<h1>ECE MEng Program of Study Form Creation Page</h1>
<h3>Instructions</h3>
<p class="lead">
  Please fill out the form below with your proposed or updated program of study. Each concentration course
  must correspond to a course within a specific concentration. Each Graduate Technical Elective must be a
  500 level or greater course. Only Elective courses may be used for Independent Studies or undergraduate
  (listings with 300/400) level courses. You are only allowed to have 2 Independent Studies or 2 300/400
  level courses or 1 Independent Study and 1 300/400 level course.
</p>
<p class="lead">
  <b>Note:</b> Although students may pick courses that may not be strictly classified as STEM courses for
  their Electives, submitted forms with non traditional electives may result in rejection. If this is the first
  form you are filling, please leave the Grade section for each course blank. <strong> Please type an extra space between
  course department and actual course listing to find each course e.g. Type ECE  &nbsp; 899 instead of ECE 899. </strong>
</p>
<!-- <p><b>Core Industry Prep Course I:</b> &emsp; MEng 570</p>
<p><b>Core Industry Prep Course II:</b> &emsp; MEng 540</p> -->
<form role="form" method="post" id="mengposForm" data-courses-url="{% url 'ajax_load_courses' %}" novalidate>
    {% csrf_token %}
    <!-- <table>
    {{ form.as_table }}
    </table> -->

<!-- Core Classes -->
  {% if usertype == "Administrator" %}
    <div class="row">
        <div class="col-md-3">
          {%  bootstrap_field form.owner %}
        </div>
    </div>
  {% endif %}

<div class="row">
    <div class="col-md-3">
      {%  bootstrap_field form.coreclassone %}
    </div>
    <div class="col-md-2">
      {%  bootstrap_field form.coreterm %}
    </div>
    <div class="col-md-2">
      {%  bootstrap_field form.coreonegrade %}
    </div>
</div>

<div class="row">
    <div class="col-md-3">
      {%  bootstrap_field form.coreclasstwo %}
    </div>
    <div class="col-md-2">
      {%  bootstrap_field form.coretwoterm %}
    </div>
    <div class="col-md-2">
      {%  bootstrap_field form.coretwograde %}
    </div>
</div>




<!-- Concentration -->
    <div class="row">
      <div class="col-md-3">
        {%  bootstrap_field form.concentration %}
      </div>
    </div>



<!-- Concentration Courses -->
    <div class="row">
        <div class="col-md-3">
          {%  bootstrap_field form.techcourseone %}
        </div>
        <div class="col-md-2">
          {%  bootstrap_field form.techoneterm %}
        </div>
        <div class="col-md-2">
          {%  bootstrap_field form.techonegrade %}
        </div>
    </div>


    <div class="row">
        <div class="col-md-3">
          {%  bootstrap_field form.techcoursetwo %}
        </div>
        <div class="col-md-2">
          {%  bootstrap_field form.techtwoterm %}
        </div>
        <div class="col-md-2">
          {%  bootstrap_field form.techtwograde %}
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
          {%  bootstrap_field form.techcoursethree %}
        </div>
        <div class="col-md-2">
          {%  bootstrap_field form.techthreeterm %}
        </div>
        <div class="col-md-2">
          {%  bootstrap_field form.techthreegrade %}
        </div>
    </div>

    <!-- Technical Courses -->
    <div class="row">
        <div class="col-md-4">
          {%  bootstrap_field form.gradtechcourseone %}
        </div>
        <div class="col-md-2">
          {%  bootstrap_field form.gradtechoneterm %}
        </div>
        <div class="col-md-2">
          {%  bootstrap_field form.gradtechonegrade %}
        </div>
    </div>


    <div class="row">
        <div class="col-md-4">
          {%  bootstrap_field form.gradtechcoursetwo %}
        </div>
        <div class="col-md-2">
          {%  bootstrap_field form.gradtechtwoterm %}
        </div>
        <div class="col-md-2">
          {%  bootstrap_field form.gradtechtwograde %}
        </div>
    </div>

    <!-- Electives  -->

    <div class="row">
        <div class="col-md-4">
          {%  bootstrap_field form.electiveone %}
        </div>
        <div class="col-md-2">
          {%  bootstrap_field form.electiveoneterm %}
        </div>
        <div class="col-md-2">
          {%  bootstrap_field form.electiveonegrade %}
        </div>
    </div>


    <div class="row">
        <div class="col-md-4">
          {%  bootstrap_field form.electivetwo %}
        </div>
        <div class="col-md-2">
          {%  bootstrap_field form.electivetwoterm %}
        </div>
        <div class="col-md-2">
          {%  bootstrap_field form.electivetwograde %}
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
          {%  bootstrap_field form.electivethree %}
        </div>
        <div class="col-md-2">
          {%  bootstrap_field form.electivethreeterm %}
        </div>
        <div class="col-md-2">
          {%  bootstrap_field form.electivethreegrade %}
        </div>
    </div>


    {% buttons %}
    <!-- <button type="submit" class="btn btn-primary" onclick="return confirm('Are you sure?')">Submit</button> -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#submitModal">
      Submit</button>
    {% endbuttons %}

    <!-- Modal -->
    <div class="modal fade" id="submitModal" tabindex="-1" role="dialog" aria-labelledby="submitModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Submission Confirmation</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Are you sure you want to submit?</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </div>
      </div>
    </div>


</form>


<!-- Error Messaging for Field Specific Errors -->
<!-- {% for field in form %}
  {% if field.errors %}
	    {% for error in field.errors %}
          <div class="alert alert-danger">
            <strong>{{ error | escape}}</strong>
          </div>
      {% endfor %}
  {% endif %}
{% endfor  %} -->

{% if form.non_field_errors %}
	<!-- Error messaging for Non Field Errors -->
	<div id="errors">
		<div class="inner">
			<p>There were some errors in the information you entered. Please correct the following:</p>
			<ul>
        {% for error in form.non_field_errors %}
          <div class="alert alert-danger">
            <strong>{{ error | escape}}</strong>
          </div>
        {% endfor %}
			</ul>
		</div
	</div>
	<!-- /Error messaging -->
{% endif %}


<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
  $("#id_concentration").change(function () {
    var url = $("#mengposForm").attr("data-courses-url");  // get the url of the `load_cities` view
    var concentrationId = $(this).val();  // get the selected concentration ID from the HTML input

    $.ajax({                       // initialize an AJAX request
      url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-courses/)
      data: {
        'concentration': concentrationId       // add the concentration id to the GET parameters
      },
      success: function (data) {   // `data` is the return of the `load_courses` view function
        $("#id_techcourseone").html(data);  // replace the contents of the concentration course inputs with the data that came from the server
        $("#id_techcoursetwo").html(data);  // replace the contents of the concentration course inputs with the data that came from the server
        $("#id_techcoursethree").html(data);  // replace the contents of the concentration course inputs with the data that came from the server
      }
    });

  });


</script>

{% endblock %}
