{% extends "base_generic.html" %}

{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{% bootstrap_messages %}



{% block content %}
{{form.media}}

<h1>Submitted PhD Master Program of Study Form</h1>
<h4>Date of Submission: <strong>{{ phdmasterpos.submission }}</strong></h4>

  <p> Name: <strong>{{ phdmasterpos.owner.get_full_name }}</strong></p>
  <p> Advisor: <strong>{{ phdmasterpos.owner.advisor.get_full_name }}</strong> </p>

  <p>
    <div class="row">
        <div class="col-md-7">
          Graduate ECE Course I: <strong>{{ phdmasterpos.gradececourseone }}</strong>
        </div>
        <div class="col-md-2">
          Term: <strong>{{ phdmasterpos.gradeceoneterm }}</strong>
        </div>
        <div class="col-md-2">
          Grade: <strong>{{ phdmasterpos.gradeceonegrade }}</strong>
        </div>
    </div>
  </p>

  <p>
    <div class="row">
        <div class="col-md-7">
          Graduate ECE Course II: <strong>{{ phdmasterpos.gradececoursetwo }}</strong>
        </div>
        <div class="col-md-2">
          Term: <strong>{{ phdmasterpos.gradecetwoterm }}</strong>
        </div>
        <div class="col-md-2">
          Grade: <strong>{{ phdmasterpos.gradecetwograde }}</strong>
        </div>
    </div>
  </p>

  <p>
    <div class="row">
        <div class="col-md-7">
          Graduate ECE Course III: <strong>{{ phdmasterpos.gradececoursethree }}</strong>
        </div>
        <div class="col-md-2">
          Term: <strong>{{ phdmasterpos.gradecethreeterm }}</strong>
        </div>
        <div class="col-md-2">
          Grade: <strong>{{ phdmasterpos.gradecethreegrade }}</strong>
        </div>
    </div>
  </p>

  <p>
    <div class="row">
        <div class="col-md-7">
          Graduate Technical Elective I from ECE or other approved areas: <strong>{{ phdmasterpos.gradtechcourseone }}</strong>
        </div>
        <div class="col-md-2">
          Term: <strong>{{ phdmasterpos.gradtechoneterm }}</strong>
        </div>
        <div class="col-md-2">
          Grade: <strong>{{ phdmasterpos.gradtechonegrade }}</strong>
        </div>
    </div>
  </p>

  <p>
    <div class="row">
        <div class="col-md-7">
          Elective I: <strong>{{ phdmasterpos.electiveone }}</strong>
        </div>
        <div class="col-md-2">
          Term: <strong>{{ phdmasterpos.electiveoneterm }}</strong>
        </div>
        <div class="col-md-2">
          Grade: <strong>{{ phdmasterpos.electiveonegrade }}</strong>
        </div>
    </div>
  </p>

  <p>
  {% ifequal phdmasterpos.state "AdvisorPending" %}
    <h3>Status: <strong class="text-warning">Pending Advisor Approval</strong></h3>
  {% endifequal %}
  </p>

  <p>
  {% ifequal phdmasterpos.state "DGSPending" %}
    <h3>Status: <strong class="text-warning">Pending DGS Approval</strong></h3>
  {% endifequal %}
  </p>


  <p>
  {% ifequal phdmasterpos.state "Approved" %}
    <h3>Status: <strong class="text-success">Approved</strong></h3>
  {% endifequal %}
  </p>

  <p>
  {% ifequal phdmasterpos.state "AdvisorRejected" %}
    <h3>Status: <strong class="text-danger">Rejected</strong></h3>
    {% if usertype is "MEng" %}
      You may now submit a new form, or resubmit this form.
    {% else %}
      This student may now submit a new form, or resubmit this form.
    {% endif %}
  {% endifequal %}
  </p>

  <p>
  {% ifequal phdmasterpos.state "DGSRejected" %}
    <h3>Status: <strong class="text-danger">Rejected</strong></h3>
    {% if usertype is "MEng" %}
      <p> You may now submit a new form, or resubmit this form.</p>
    {% else %}
      <p>This student may now submit a new form, or resubmit this form.</p>
    {% endif %}
  {% endifequal %}
  </p>

  {% buttons %}
    {% if usertype == "PhD" %}
      <a href="{% url 'phdmaster-detail-update' pk=phdmasterpos.id %}"class="btn btn-primary btn-sm">Update</a>
    {% elif usertype == "Advisor" %}
      <a href="{% url 'advisor-phdmaster-approve' form_id=phdmasterpos.id %}"class="btn btn-success btn-sm">Approve</a>
      <a href="{% url 'advisor-phdmaster-reject' form_id=phdmasterpos.id %}"class="btn btn-danger btn-sm">Reject</a>
    {% elif usertype == "DGS" %}
      <a href="{% url 'dgs-phdmaster-approve' form_id=phdmasterpos.id %}"class="btn btn-success btn-sm">Approve</a>
      <a href="{% url 'dgs-phdmaster-reject' form_id=phdmasterpos.id %}"class="btn btn-danger btn-sm">Reject</a>
    {% elif usertype == "Administrator" %}
      <a href="delete"class="btn btn-danger btn-sm">Delete</a>
      <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">
      Delete Modal</button>
    {% endif %}
  {% endbuttons %}

  {% if phdmasterpos.state == "AdvisorRejected" and usertype != "DGS" %}
    <h3><strong>Advisor Rejection Comments</strong></h3>
  {% endif %}

  {% for comment in phdmasterpos.comments.all %}
    {% if comment.authortype == "Advisor" and phdmasterpos.state == "AdvisorRejected" and usertype != "DGS" %}
      <p>
        <div class="row">
            <div class="col-md-3">
              Comment: <strong>{{ comment.text}}</strong>
            </div>
            <div class="col-md-4">
              Comment Submission: <strong>{{ comment.created_date }}</strong>
            </div>
        </div>
      </p>
    {% endif %}
  {% endfor %}

  {% if phdmasterpos.state == "DGSRejected" %}
    <h3><strong>DGS Rejection Comments</strong></h3>
  {% endif %}

  {% for comment in phdmasterpos.comments.all %}
    {% if comment.authortype == "DGS" and phdmasterpos.state == "DGSRejected" %}
      <p>
        <div class="row">
            <div class="col-md-3">
              Comment: <strong>{{ comment.text}}</strong>
            </div>
            <div class="col-md-4">
              Submission Date: <strong>{{ comment.created_date }}</strong>
            </div>
        </div>
      </p>
    {% endif %}
  {% endfor %}


  <!-- Modal -->
  <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="submitModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Deletion Confirmation</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to delete?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <a href="{% url 'admin-phdmaster-delete' form_id=phdmasterpos.id %}"class="btn btn-danger btn-sm">Delete</a>
          <button type="submit" class="btn btn-primary">Delete</button>
        </div>
      </div>
    </div>
  </div>


  {% if messages %}
  <ul class="messages">
      {% for message in messages %}
        <div class="alert alert-danger">
          <strong>{{ message}}</strong>
        </div>
      {% endfor %}
  </ul>
  {% endif %}

  {% endblock %}
