{% extends "base_generic.html" %}

{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% bootstrap_messages %}

{% load disqus_tags %}
{% set_disqus_identifier "page_" page.pk %}
{% set_disqus_title page.title %}
{% disqus_show_comments %}
{% disqus_dev %}



{% block content %}

{{form.media}}
<h1>Submitted MEng Program of Study Form</h1>
<h4>Date of Submission: <strong>{{ mengpos.submission }}</strong></h4>

  <p> Name: <strong>{{ mengpos.owner.get_full_name }}</strong> </p>
  <p> Advisor: <strong>{{ mengpos.owner.advisor.get_full_name }}</strong> </p>

<p>
  <div class="row">
      <div class="col-md-7">
        Core Industry Prep Course I: <strong>{{ mengpos.coreclassone }}</strong>
      </div>
      <div class="col-md-2">
        Term: <strong>{{ mengpos.coreterm }}</strong>
      </div>
      <div class="col-md-2">
        Grade: <strong>{{ mengpos.coreonegrade }}</strong>
      </div>
  </div>
</p>

<p>
  <div class="row">
      <div class="col-md-7">
        Core Industry Prep Course II: <strong>{{ mengpos.coreclasstwo }}</strong>
      </div>
      <div class="col-md-2">
        Term: <strong>{{ mengpos.coretwoterm }}</strong>
      </div>
      <div class="col-md-2">
        Grade: <strong>{{ mengpos.coretwograde }}</strong>
      </div>
  </div>
</p>

<p>
  <div class="row">
      <div class="col-md-7">
        ECE Technical Course I from Concentration Area: <strong>{{ mengpos.techcourseone }}</strong>
      </div>
      <div class="col-md-2">
        Term: <strong>{{ mengpos.techoneterm }}</strong>
      </div>
      <div class="col-md-2">
        Grade: <strong>{{ mengpos.techonegrade }}</strong>
      </div>
  </div>
</p>

<p>
  <div class="row">
      <div class="col-md-7">
        ECE Technical Course II from Concentration Area: <strong>{{ mengpos.techcoursetwo }}</strong>
      </div>
      <div class="col-md-2">
        Term: <strong>{{ mengpos.techtwoterm }}</strong>
      </div>
      <div class="col-md-2">
        Grade: <strong>{{ mengpos.techtwograde }}</strong>
      </div>
  </div>
</p>

<p>
  <div class="row">
      <div class="col-md-7">
        ECE Technical Course III from Concentration Area: <strong>{{ mengpos.techcoursethree }}</strong>
      </div>
      <div class="col-md-2">
        Term: <strong>{{ mengpos.techthreeterm }}</strong>
      </div>
      <div class="col-md-2">
        Grade: <strong>{{ mengpos.techthreegrade }}</strong>
      </div>
  </div>
</p>

<p>
  <div class="row">
      <div class="col-md-7">
        Graduate Technical Elective I from ECE or other approved areas: <strong>{{ mengpos.gradtechcourseone }}</strong>
      </div>
      <div class="col-md-2">
        Term: <strong>{{ mengpos.gradtechoneterm }}</strong>
      </div>
      <div class="col-md-2">
        Grade: <strong>{{ mengpos.gradtechonegrade }}</strong>
      </div>
  </div>
</p>

<p>
  <div class="row">
      <div class="col-md-7">
        Graduate Technical Elective II from ECE or other approved areas: <strong>{{ mengpos.gradtechcoursetwo }}</strong>
      </div>
      <div class="col-md-2">
        Term: <strong>{{ mengpos.gradtechtwoterm }}</strong>
      </div>
      <div class="col-md-2">
        Grade: <strong>{{ mengpos.gradtechtwograde }}</strong>
      </div>
  </div>
</p>

<p>
  <div class="row">
      <div class="col-md-7">
        Elective I: <strong>{{ mengpos.electiveone }}</strong>
      </div>
      <div class="col-md-2">
        Term: <strong>{{ mengpos.electiveoneterm }}</strong>
      </div>
      <div class="col-md-2">
        Grade: <strong>{{ mengpos.electiveonegrade }}</strong>
      </div>
  </div>
</p>

<p>
  <div class="row">
      <div class="col-md-7">
        Elective II: <strong>{{ mengpos.electivetwo }}</strong>
      </div>
      <div class="col-md-2">
        Term: <strong>{{ mengpos.electivetwoterm }}</strong>
      </div>
      <div class="col-md-2">
        Grade: <strong>{{ mengpos.electivetwograde }}</strong>
      </div>
  </div>
</p>

<p>
  <div class="row">
      <div class="col-md-7">
        Elective III: <strong>{{ mengpos.electivethree }}</strong>
      </div>
      <div class="col-md-2">
        Term: <strong>{{ mengpos.electivethreeterm }}</strong>
      </div>
      <div class="col-md-2">
        Grade: <strong>{{ mengpos.electivethreegrade }}</strong>
      </div>
  </div>
</p>

<p>
{% ifequal mengpos.state "AdvisorPending" %}
  <h3>Status: <strong class="text-warning">Pending Advisor Approval</strong></h3>
{% endifequal %}
</p>

<p>
{% ifequal mengpos.state "DGSPending" %}
  <h3>Status: <strong class="text-warning">Pending DGS Approval</strong></h3>
{% endifequal %}
</p>


<p>
{% ifequal mengpos.state "Approved" %}
  <h3>Status: <strong class="text-success">Approved</strong></h3>
{% endifequal %}
</p>

<p>
{% ifequal mengpos.state "AdvisorRejected" %}
  <h3>Status: <strong class="text-danger">Rejected</strong></h3>
  {% if usertype is "MEng" %}
    You may now submit a new form, or resubmit this form.
  {% else %}
    This student may now submit a new form, or resubmit this form.
  {% endif %}
{% endifequal %}
</p>

<p>
{% ifequal mengpos.state "DGSRejected" %}
  <h3>Status: <strong class="text-danger">Rejected</strong></h3>
  {% if usertype is "MEng" %}
    <p> You may now submit a new form, or resubmit this form.</p>
  {% else %}
    <p>This student may now submit a new form, or resubmit this form.</p>
  {% endif %}
{% endifequal %}
</p>

{% buttons %}
  {% if usertype == "MEng" %}
    <a href="{% url 'meng-detail-update' pk=mengpos.id %}"class="btn btn-primary btn-sm">Update</a>
  {% elif usertype == "Advisor" %}
    <a href="{% url 'advisor-meng-approve' form_id=mengpos.id %}"class="btn btn-success btn-sm">Approve</a>
    <a href="{% url 'advisor-meng-reject' form_id=mengpos.id %}"class="btn btn-danger btn-sm">Reject</a>
  {% elif usertype == "DGS" %}
    <a href="{% url 'dgs-meng-approve' form_id=mengpos.id %}"class="btn btn-success btn-sm">Approve</a>
    <a href="{% url 'dgs-meng-reject' form_id=mengpos.id %}"class="btn btn-danger btn-sm">Reject</a>
  {% elif usertype == "Administrator" %}
    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">
      Delete</button>

  {% endif %}
{% endbuttons %}

{% if mengpos.state == "AdvisorRejected" and usertype != "DGS" %}
  <h3><strong>Advisor Rejection Comments</strong></h3>
{% endif %}

{% for comment in mengpos.comments.all %}
  {% if comment.authortype == "Advisor" and mengpos.state == "AdvisorRejected" and usertype != "DGS" %}
    <p>
      <div class="row">
          <div class="col-md-3">
            Comment: <strong>{{ comment.text}}</strong>
          </div>
          <div class="col-md-4">
            Comment Submission: <strong>{{ comment.created_date }}</strong>
          </div>
      </div>
    </p>
  {% endif %}
{% endfor %}

{% if mengpos.state == "DGSRejected" %}
  <h3><strong>DGS Rejection Comments</strong></h3>
{% endif %}

{% for comment in mengpos.comments.all %}
  {% if comment.authortype == "DGS" and mengpos.state == "DGSRejected" %}
    <p>
      <div class="row">
          <div class="col-md-3">
            Comment: <strong>{{ comment.text}}</strong>
          </div>
          <div class="col-md-4">
            Submission Date: <strong>{{ comment.created_date }}</strong>
          </div>
      </div>
    </p>
  {% endif %}
{% endfor %}

<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="submitModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Deletion Confirmation</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <a href="{% url 'admin-meng-delete' form_id=mengpos.id %}"class="btn btn-danger btn-sm">Delete</a>
      </div>
    </div>
  </div>
</div>





{% if messages %}
<ul class="messages">
    {% for message in messages %}
      <div class="alert alert-danger">
        <strong>{{ message}}</strong>
      </div>
    {% endfor %}
</ul>
{% endif %}

{% endblock %}
