{% extends "base_generic.html" %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% load widget_tweaks %}
{% load class_tag %}

{% bootstrap_messages %}

{% block content %}
{{form.media}}
{{ form.media.css }}


<h2>User Search Page</h2>

<p class="lead">
   Use the fields below to search for specific users.
</p>


<form method="get">
    <div class="well">
      <h4 style="margin-top: 0">Filter</h4>
      <div class="row">
        <div class="form-group col-sm-4 col-md-3">
          {{ filter.form.custom_first_name.label_tag }}
          {% render_field filter.form.custom_first_name class="form-control" %}
        </div>
        <div class="form-group col-sm-4 col-md-3">
          {{ filter.form.custom_last_name.label_tag }}
          {% render_field filter.form.custom_last_name class="form-control" %}
        </div>
        <div class="form-group col-sm-4 col-md-3">
          {{ filter.form.custom_netid.label_tag }}
          {% render_field filter.form.custom_netid class="form-control" %}
        </div>
        <div class="form-group col-sm-4 col-md-3">
          {{ filter.form.custom_email.label_tag }}
          {% render_field filter.form.custom_email class="form-control" %}
        </div>
      </div>
      <button type="submit" class="btn btn-primary">
        <span class="glyphicon glyphicon-search"></span> Search
      </button>
    </div>
  </form>

  <table class="table table-bordered">
     <thead>
       <tr>
         <th>First name</th>
         <th>Last name</th>
         <th>Net ID</th>
         <th>Email</th>
         <th>Link</th>
       </tr>
     </thead>
     <tbody>
       {% for form in users %}
        <tr>
          <td>{{ form.first_name }}</td>
          <td>{{ form.last_name }}</td>
          <td>{{ form.netid }}</td>
          <td>{{ form.email }}</td>
          <td><a href="{{ form.get_absolute_url }}"><strong>{{ form.id }}</strong> </a></td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="5">No data</td>
        </tr>
      {% endfor %}
    </tbody>
</table>


<div class="paginator">
    {% with request.get_full_path as querystring %}
        <ul class="pagination">
            <!-- Previous page section -->
            {% if users.has_previous %}
                {% if 'search' in querystring %}
                    {% if 'page' in querystring %}
                        <li class="paginator {% if pages.number == page %}active{% endif %}">
                            <a href="{{ querystring|slice:":-7" }}&page={{ page|add:"-1" }}">Prev</a>
                        </li>
                    {% else %}
                        <li class="paginator {% if pages.number == page %}active{% endif %}">
                            <a href="{{ querystring }}?custom_first_name=&custom_last_name=&custom_netid=&custom_email=&page={{ page|add:"-1" }}">Prev</a>
                        </li>
                    {% endif %}
                {% else %}
                    <li class="paginator {% if pages.number == page %}active{% endif %}">
                        <a href="?page={{ page|add:"-1" }}">Prev</a>
                    </li>
                {% endif %}
            {% endif %}

            <!-- All pages section -->
            {% for page in users.paginator.page_range %}
                {% if 'search' in querystring %}
                    {% if 'page' in querystring %}
                        <li class="paginator {% if pages.number == page %}active{% endif %}">
                            <a href="{{ querystring|slice:":-7" }}&page={{ page }}">{{ page }}</a>
                        </li>
                    {% else %}
                        <li class="paginator {% if pages.number == page %}active{% endif %}">
                            <a href="{{ querystring }}?custom_first_name=&custom_last_name=&custom_netid=&custom_email=&page={{ page }}">{{ page }}</a>
                        </li>
                    {% endif %}
                {% else %}
                    <li class="paginator {% if pages.number == page %}active{% endif %}">
                        <a href="?custom_first_name=&custom_last_name=&custom_netid=&custom_email=?page={{ page }}">{{ page }}</a>
                    </li>
                {% endif %}
            {% endfor %}

            <!-- Next page section -->
            {% if users.has_next %}
                {% if 'search' in querystring %}
                    {% if 'page' in querystring %}
                        <li class="paginator {% if pages.number == page %}active{% endif %}">
                            <a href="{{ querystring|slice:":-7" }}&page={{ page|add:"1" }}">Next</a>
                        </li>
                    {% else %}
                        <li class="paginator {% if pages.number == page %}active{% endif %}">
                            <a href="{{ querystring }}?custom_first_name=&custom_last_name=&custom_netid=&custom_email=&page={{ page|add:"1" }}">Next</a>
                        </li>
                    {% endif %}
                {% else %}
                    <li class="paginator {% if pages.number == page %}active{% endif %}">
                        <a href="?custom_first_name=&custom_last_name=&custom_netid=&custom_email=?page={{ page|add:"1" }}">Next</a>
                    </li>
                {% endif %}
            {% endif %}
        </ul>
    {% endwith %}

</div>

{% endblock %}
